/* --------------------------------------------------
Container
-------------------------------------------------- */
div#container, div.container { position: relative; width: 920px; margin: 0 auto; padding: 0; }


/* --------------------------------------------------
Grid
-------------------------------------------------- */
.column-row, .row { margin: 0 0 18px -40px; }
.column, .columns { float: left; display: inline; margin: 0 0 0 40px; }

.one { width: 120px; }
.two { width: 280px; }
.three { width: 440px; }
.four { width: 600px; }
.five { width: 760px; }
.six { width: 920px; }

.offset-by-one-half { margin-left: 80px; }
.offset-by-one { margin-left: 160px; }
.offset-by-two { margin-left: 320px; }
.offset-by-three { margin-left: 480px; }
.offset-by-four { margin-left: 640px; }

/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }

/* IE6 Problems ---------- */
body.ie .column-row { width: 960px; }
body.ie .two-thirds .column-row { width: 1320px; }
